.bg-danger-light {
    background-color: #f8d7da !important;
}

.border-danger-light {
    border-color: #f5c6cb !important;
}

.text-danger {
    color:#721c24 !important;
}

.bg-dark-light {
    background-color: #d6d8d9 !important;
}

.border-dark-light {
    border-color: #c6c8ca !important;
}
